extend layout
block content
    main(id='wrapper')
        h1 Which Netflix?

        input(type='text', name='q', id='q', placeholder='Movie title, e.g Star Trek')

        div(id='movies', data-bind='foreach: movies')
            div(class='movie')
                div(name='title', data-bind='html : title')
                div(name='flag')
                    img(data-bind='attr: { src : flag}')
