extend layout
block content
    main(id='wrapper')
        h1 Which Netflix?

        input(type='text', name='q', id='q', placeholder='Movie title, e.g Star Trek')

        div(id='movies', data-bind='foreach: movies')
            a(data-bind='attr: {href : netflix}')
                div(class='movie')
                    div(class='title', data-bind='html : title')
                    div(class='flags', data-bind='foreach : flags')
                        img(data-bind='attr: { src : url}')
