body {
  background-color: #f8f8f8;
  font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
#wrapper {
  width: 100%;
}
#wrapper #q {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
#wrapper h1 {
  text-align: center;
}
input[type=text] {
  font-size: 2em;
}
#movies {
  font-size: 1.4em;
}
#movies .movie {
  background-color: #fff;
  margin-bottom: 10px;
  border: 1px solid #e9e9e9;
  box-shadow: 1px 1px 1px #888;
  border-radius: 2px;
  padding: 6px;
}
#movies .movie .title {
  margin-bottom: 5px;
}
#movies .movie .flags img {
  margin-left: 15px;
}
