
white = #FFF;
grey-1 = #F8F8F8;

body {
    background-color: grey-1;
    font-family: 'helvetica neue',helvetica,arial,sans-serif;
}

#wrapper {
    width: 100%;
    #q {
        width: 100%;
        height: 60px;
        margin-bottom: 30px;
    }

    h1 {
        text-align: center;
    }
}

input[type=text]
    font-size: 2em;
    
#movies {
    font-size: 1.4em;

    .movie {
        background-color: white;
        margin-bottom: 10px;
        border: 1px solid #e9e9e9;
        box-shadow: 1px 1px 1px #888;
        border-radius: 2px;
        padding: 6px;

        .title {
            margin-bottom: 5px;
        }

        .flags img{
            margin-left: 15px;
        }
    }
}
